<%= form_with model: webcam, class: "flex flex-col p-10 mx-auto border rounded lg:w-1/2 mt-4" do |form| %>
    <% if webcam.errors.any? %>
        <div id="error_explanation" class="m-4">
            <h2><%= pluralize(webcam.errors.count, "error") %> prohibited this webcam from being saved:</h2>
            <ul>
            <% webcam.errors.full_messages.each do |message| %>
                <li class="text-sm list-disc ml-8"><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <%= form.label :title %>
    <%= form.text_field :title, class: "w-full px-4 mb-2 text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100" %>
    <%= form.label :category, "Categories" %>
    <%= form.text_field :category, class: "w-full px-4 mb-2 text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100" %>
    <%= form.label :image_url, "Image URL" %>
    <%= form.text_field :image_url, class: "w-full px-4 mb-2 text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-black-500" %>
    <%= form.label :player_url, "Stream URL" %>
    <%= form.text_field :player_url, class: "w-full px-4 mb-2 text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-black-500" %>
    <%= form.submit class:"cursor-pointer w-full py-3 mt-4 text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-lg hover:bg-blue-800 " %>
<% end %>