<div class="grid grid-cols-5 mt-16 p-6">
    <div class="h-full">
        <div class="flex gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-adjustments-horizontal" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="14" cy="6" r="2"></circle>
                <line x1="4" y1="6" x2="12" y2="6"></line>
                <line x1="16" y1="6" x2="20" y2="6"></line>
                <circle cx="8" cy="12" r="2"></circle>
                <line x1="4" y1="12" x2="6" y2="12"></line>
                <line x1="10" y1="12" x2="20" y2="12"></line>
                <circle cx="17" cy="18" r="2"></circle>
                <line x1="4" y1="18" x2="15" y2="18"></line>
                <line x1="19" y1="18" x2="20" y2="18"></line>
            </svg>
            <h1 class="font-bold">Filters</h1>
        </div>
        <div class="flex my-4 flex-wrap">
        <%= form_tag(root_path, :method => "get", id: "search-form", :class=>"flex flex-wrap") do %>
            <% @categories.keys.each do |cat| %>
                <label class="flex justify-center items-center m-1 py-1 px-2 rounded-full text-slate-700 bg-slate-200 text-xs cursor-pointer">
                    <%= check_box_tag ":search[]", cat, false, class: "hidden" %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check hidden" width="16" height="16" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                    <%= cat %>
                </label>
            <% end %>
        <%= submit_tag "Search", class:"p-2 m-4 border rounded-full w-full hover:bg-slate-100 cursor-pointer" %>
        <% end %>
        </div>
    </div>
    <div class="col-span-4 flex gap-4 flex-wrap justify-center">
        <% @webcams.each do |webcam| %>
            <% webcam.category.split(",").each do |cat| %>
                <% if !params[":search"] || params[":search"].include?(cat) %>
                        <%= render "camera-card", webcam: webcam%>
                    <% break %>
                <% end %> 
            <% end %>
            <% if webcam.category.length == 0 %>
                <%= render "camera-card", webcam: webcam%>
            <% end %>
        <% end %>
    <div class="flex w-full justify-center  mt-2">
        <%== pagy_nav(@pagy) %>
    </div>
    </div>
</div>